.container {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;

    width: calc((100% - (8 * 0.25rem + 8 * 1rem)) / 4);
    margin: 0.25rem;
    padding: 1rem;

    box-shadow: 0rem 0rem 0.25rem #9a9a9a;
}

.manufacturer{
    text-transform: uppercase;
    color: gray;
    font-size: 0.75rem;
}

.name {
    font-weight: 400;
}