.container {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;

    width: calc((100% - (8 * 0.25rem + 8 * 1rem)) / 4);
    margin: 0.25rem;
    padding: 1rem;

    box-shadow: 0rem 0rem 0.25rem #9a9a9a;
}

.containerProductSoldOut {
    filter: saturate(0);
}

.unitQuantity {
    margin: 0.5rem 0;
}

.manufacturer{
    text-transform: uppercase;
    color: gray;
    font-size: 0.75rem;
}

.image {
    width: max(16rem, 100%);
}

.name {
    font-weight: 400;
}

.cartSection {
    display: flex;
    flex-direction: column;
    background-color: #F4F3F1;
    margin: .5rem 0 0 0;
    padding: 1rem ;
    font-weight: 800;
    border-radius: 0.5rem;
}


@media (max-width: 72rem) {
    .container {
        width:  calc((100% - (6 * 0.25rem + 6 * 1rem)) / 3);
    }
}

@media (max-width: 48rem) {
    .container {
        width:  calc((100% - (4 * 0.25rem + 4 * 1rem)) / 2);
    }
}

@media (max-width: 30rem) {
    .container {
        width: 100%;
    }
}