.container {
    margin: 1rem 0 0 0;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 0.5rem;
}

.containerBasketEmpty {
    background-color: #BBBBBB;
}

.containerBasketFilled {
    background-color: #F6CF72;
}

.quantityInBasket {
    margin: 0 1rem;
}

.reduceQuantityButton {
    border-radius: 0.5rem 0 0 0.5rem;
}

.incrementQuantityButton {
    border-radius: 0 0.5rem 0.5rem 0;
}

.quantityButton {
    border: none;
    background-color: white;
    width: 2rem;
    height:2rem;
    font-weight: 800;
    cursor: pointer;
}