.nav {
    background-color: rgb(171, 171, 171);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > a {
    text-decoration: none;
}

.basketLink {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 800;
    color: black;
}

.brand {
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}